<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="/img/a.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
    <title>404</title>
<body>
    <div class="main-content">
    {{>header}}
   
   <p>{{message}}</p>
   </div>
   {{>footer}}
</body>
</html>